:root {
    --light-grey: #ececec;
    --dark-grey: #383838;
    --forest-green: #137217;
}

body {
    width: 100vw;
    font-family: 'Poiret One', serif;
    background-color: var(--dark-grey);
    flex-direction: row;
}

/* Navbar */
.navbar {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nav-btn {
    display: flex;
    border-radius: 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--light-grey);
    color: var(--dark-grey);
    font-size: 2em;
    width: 10vw;
    height: 10vw;
    font-weight: 900;
    cursor: pointer;
}

/*Main display*/
main {
    width: 85%;
    background-color: var(--forest-green);
    color: var(--light-grey);
    border-radius: 30px;
    margin: 5% 5% 5% 0.5%;
}

h1 {
    font-size: 4em;
    font-weight: 900;
}

h3 {
    font-size: 2.5em;
    font-weight: 900;
}

p {
    font-size: 1.5em;
}

/* About Me page */
.about-me {
    font-size: 1.8em;
}

#avatar {
    border: 10px black solid;
}

/* Portfolio page */
.project-card {
    width: 30%;
    cursor: pointer;
}

h4 {
    font-size: 2em;
    background-color: var(--dark-grey);
    color: var(--light-grey);
    min-height: 10vh;
    width: 100%;
}

.portfolio-pic {
    width: 100%;
    height: 80%;
}

/* Contact Me page */
#links-area {
    width: 90%;
    height: 75%;
}

.contact-item {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    width: 40%;
    height: 15vh;
    font-size: 1.5em;
    border-radius: 35px;
    cursor: pointer;
    font-weight: 900;
}

.icon {
    font-size: 4em;
    color: var(--dark-grey);
}

/* Pages for individual projects */
.project-demo-pic {
    width: 45%;
}

.project-demo-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-link {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    border-radius: 25px;
    font-size: 1.5em;
    cursor: pointer;
    font-weight: 900;
}
/* 
Formatting */
a:visited, a:link {
    text-decoration: none;
    color: var(--dark-grey);  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.selected {
    background-color: var(--forest-green);
    color: var(--light-grey);
    box-shadow: 0000 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* Mobile responsiveness */

@media screen and (max-width: 1250px) {
    .nav-btn {
        font-size: 1.4em;
    }

    h4 {
        font-size: 1.5em;
    }
}


@media screen and (max-width: 893px) {
    body {
        flex-direction: column !important;
        align-items: center;
    }

    .navbar {
        flex-direction: row;
        width: 100%;
        margin-top: 2%
    }

    main {
        margin: 0% 5%;
        min-height: 85vh;
    }

    .nav-btn {
        font-size: 1em;
        width: 15vw;
        height: 15vw;
    }

    h3 {
        font-size: 2em;
    }

    .about-me {
        font-size: 1.3em;
    }

    .portfolio-display {
        flex-wrap: wrap;
    }

    .project-card {
        width: 80%;
        margin-bottom: 4%;
    }

    .contact-item {
        width: 75%;
    }
}

@media screen and (max-width: 530px) {
    #avatar {
        width: 90%;
    }

    h3 {
        font-size: 1.5em;
        margin: 1%;
    }

    .project-demo-area {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 430px) {
    .nav-btn{
        font-size: .8em;
    }

    .about-me {
        font-size: 1em;
    }

    .contact-item {
        font-size: 1em;
    }

    .icon {
        font-size: 4em;
    }

    .project-card {
        margin-bottom: 10%;
    }
}